body {
  padding: 0;
  margin: 0;
  width: 100vw;
}

#head {
  background-color: transparent;
  display: flex;
  align-items: center;
  width: 87vw;
  justify-content: space-between;
  padding: 15px 80px;
}

.links {
  display: flex;
  gap: 20px;
}

.links a {
  color: black;
  border-bottom: 1px solid transparent;  
  text-decoration: none;
  transition: all 0.3s ease;
}

.links a:hover {
    border-bottom: 2px solid black;  
}

.icon-head{
    display: flex;
    gap: 18px;
}
